[submodule "src/django"]
	path = src/django
	url = git://github.com/django/django
[submodule "src/django-cache-machine"]
	path = src/django-cache-machine
	url = git://github.com/jbalogh/django-cache-machine.git
[submodule "src/django-mozilla-product-details"]
	path = src/django-mozilla-product-details
	url = git://github.com/fwenzel/django-mozilla-product-details
[submodule "src/django-fixture-magic"]
	path = src/django-fixture-magic
	url = git://github.com/davedash/django-fixture-magic
[submodule "src/django-statsd"]
	path = src/django-statsd
	url = git://github.com/andymckay/django-statsd.git
[submodule "src/pystatsd"]
	path = src/pystatsd
	url = git://github.com/jsocol/pystatsd.git
[submodule "src/raven"]
	path = src/raven
	url = git://github.com/getsentry/raven-python.git
[submodule "src/basket-client"]
	path = src/basket-client
	url = git://github.com/mozilla/basket-client.git
[submodule "src/dnspython"]
	path = src/dnspython
	url = git://github.com/rthalley/dnspython.git
[submodule "src/requests"]
	path = src/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "src/flanker"]
	path = src/flanker
	url = git://github.com/pmclanahan/flanker.git
[submodule "src/expiringdict"]
	path = src/expiringdict
	url = git://github.com/mailgun/expiringdict.git
